
<div class="container" *ngIf="valid == false">
    <button (click)="gotohomepage()" style="margin-top: 5%" class="btn btn-primary"><i class="fa fa-angle-left"></i> Continue Shopping</button>
  <p style="text-align: center">No items in cart</p>
</div>

<div class="container" *ngIf="valid">

  <br>
  <button (click)="gotohomepage()" style="margin-top: 2%" class="btn btn-primary"><i class="fa fa-angle-left"></i> Continue Shopping</button><br>
  <p style="padding-top: 10px"> To change Quantity, Edit Quantity and Click on Update button</p>
  <table id="cart" class="table table-hover table-condensed table-borderless">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let cart of cartlist">
      <td>
        {{cart.productname}}
      </td>
      <td>{{cart.total | currency:'₹'}}</td>
      <td>

        <div class="row">
          <div class="col-6">
            <input type="number" value="{{cart.quantity}}" #quant>
            <input type="hidden" value="{{cart.bufcartId}}" #prod>
          </div>
          <div class="col-6">
            <button class="btn btn-info btn-sm" (click)="updateCart(prod,quant)">Update</button>
          </div>
        </div>
      </td>
      <td>
        {{cart.quantity*cart.total | currency:'₹'}}

      </td>
      <td>
        <button class="btn btn-info btn-sm" (click)="deleteItem(prod)">Delete</button>
      </td>
    </tr>
  </table>

  <div class="row">
    <div class="col-10" style="text-align: right"><b>Total Sum :</b> {{totalSum | currency:'₹'}}</div>
    <div class="offset-1 col-11" style="text-align: right"><button type="button" value="Convert" (click)="convetToPDF()" class="btn btn-primary align-right" >Checkout <i
          class="fa fa-angle-right"></i></button></div>

  </div>

</div>
