<div class="card" style="margin-bottom: 50px">
      <div class="card-body">
            <h5 class="card-title">{{product.productName}}</h5>
            <img src="{{product.imgsrc}}" class="img-responsive" height="150px" width="228px" alt="Image">
            <div>
                  <p><span>Brand :</span> {{product.brand}}</p>
                  <p><span><b>Model : </b></span>{{product.model}} </p>
                  <p><span>Description :</span> {{product.description}}</p>
                  <p> Origianl Price : <del>{{product.productPrice}} </del></p>
                  <p> Discount Price : {{product.productDiscountPrice}} </p>
                  <h4><b>Varients</b></h4>
                  <div class=" align-left" *ngFor="let varient of product.varients; let indexOfproduct = index">
                        <b>{{varient.value}}:</b>
                        <form>
                              <div class="row" *ngFor="let varientval of varient.varientvalues; let indexOfelement = index">
                                    <div class="col-sm">

                                    </div>
                                    <div class="col-sm">
                                          {{varientval.name}}
                                    </div>
                                    <div class="col-sm">
                                          {{varientval.price | currency:'INR'}}

                                    </div>
                                    <div class="col-sm">
                                          <div *ngIf="indexOfelement == 0   else elseBlock">
                                                <div class="form-check">
                                                      <input class="form-check-input" [(ngModel)]="varientValue"
                                                            (click)="addExtraValues(varientval.price, $event, this, varientval.name)"
                                                            type="radio" checked="false" name="flexRadioDefault">

                                                </div>
                                          </div>
                                          <ng-template #elseBlock>
                                                <div class="form-check">
                                                      <input class="form-check-input" (click)="addExtraValues(varientval.price, $event, this, varientval.name)"
                                                            type="radio" name="flexRadioDefault">

                                                </div>
                                          </ng-template>

                                    </div>
                              </div>

                        </form>


                  </div>

                  <p style="margin-top:20px;"><span style="color:blue"><b>Total Price : </b></span><b>{{product.totalPrice
                              | currency:'INR'}}</b></p>
            </div>
            <button class="btn btn-primary" style="text-align: right;margin-top:20px" (click)="addToCart()">Add to cart</button>
      </div>
</div>