<mat-nav-list>
    <div class="profile-card">
      <div class="header">
        <h2>Admin</h2>
        <h4>Admin@gmail.com</h4>
      </div>
      <img
        src="https://ik.imagekit.io/uqm33vog0ra/admin_2nfao_7in.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644128804804"
        alt="Admin"
      />
    </div>
  
    <h2 matSubheader>Pages</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin"
      >Dashboard</a
    >
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/admin/addProduct"
      >Add Product</a
    >
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles"
      >Articles</a
    >
  
    <mat-divider></mat-divider>
  
    <h2 matSubheader>Tools</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
      <mat-icon>import_contacts</mat-icon>
      Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
      <mat-icon>contact_phone</mat-icon>
      Leads
    </a>
  </mat-nav-list>
  